* {
    padding: 0;
    margin: 0;
}

.navDown {
    width: 25%;
    border: 1px solid black;
    padding: 10px;  
    border-radius: 5px;
    font-size: larger;
    display: flex;
    justify-content: space-between;
}

.search {
    width: 100%;
    margin-left: 20px;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.searchbtn {
    margin-left: -10px;
    border-radius: 0px 10px 10px 0px;
    width: 50px;
    background-color: #002f34;
}

.searchbtn img {
    width: 100%;
}

.logo {
    margin-left: 20px;
}

.navBarCircle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: linear-gradient(180deg, rgba(0, 47, 52, .16), rgba(0, 47, 52, .01) 81.77%, rgba(0, 47, 52, .01));;
    margin-left: 0px;
    display: flex;
}

.car {
    width: 100%;
}

.car1{
    height: 70%;
    width: 100%;
    text-align: center;
    margin-right: 15px;
}

.navBarCircle h4 {
    margin-top: 5px;
}

.login{
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: underline;
}

.login:hover{
    text-decoration: none;
}

.sell{
    /* margin-right: -50px; */
    margin-left: 20px;
}

.navBarCircle1 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: linear-gradient(180deg, rgba(0, 47, 52, .16), rgba(0, 47, 52, .01) 81.77%, rgba(0, 47, 52, .01));;
    margin-left: 100px;
    display: flex;
}

.navBarCircle1 h4 {
    margin-top: 5px;
}

.search-continar {
    margin-left: -200px;
    margin-top: 110px;
    width: 100%;
    display: flex;

}

.navBarR{
    margin-top: -50px;
}

@media (max-width: 991px){
.navBarR{
    margin-top: 0px;
}

.search-continar{
    margin-left: 0px;
    margin-top: 0px;
    display: block;
}
.navBarCircle1{
    margin-left: 40px;
    margin-top: 5px;
}
.navBarCircle{
    margin-left: 40px;
}

.search{
    display: block;
    margin-left: 35px;
    margin-top: 10px;
}

.navDown{
    margin-left: 35px;
    width: 95%;
}

.login{
    margin-left: 2px;
}

.sell{
    margin-left: -5px;
}

}

.searchDiv{
    width: 95%;
    display: flex;
}

.itemNameContinar{
    display: flex;
    gap: 20px;
    margin-left: 30px;
}
