*{
    margin: 0;
    padding: 0;
}

.box{
    width: 20%;
    border: 1px solid black;
}

.img{
    width: 90%;
    height: 200px;
}

.cardContinar{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}